@model IEnumerable<HoteReservation.Web.Models.Season.SeasonViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Seasons</h2>

<p>
    <a asp-action="Create" asp-controller="Seasons" class="btn btn-success">Add Season</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SeasonType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndingDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SeasonType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndingDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-info" })
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger"})
                @Html.ActionLink("Room rates", "GetAllRoomRatesBySeason", new { id = item.Id }, new { @class = "btn btn-default"})
                @Html.ActionLink("Meal rates", "GetAllMealRatesBySeason", new { id = item.Id }, new { @class = "btn btn-default" })
            </td>
        </tr>
}
    </tbody>
</table>
