@model IEnumerable<HoteReservation.Web.Models.Room.RoomViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Rooms</h2>
<h4>@ViewBag.Message</h4>
<h4>
    <a asp-controller="Rooms" asp-action="CreateRoom" class="btn btn-success">Add Room</a>
</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoomType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfAdults)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfChildren)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoomType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfAdults)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfChildren)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditRoom", new {  id=item.Id  }, new { @class = "btn btn-info" }) 
                @Html.ActionLink("Delete", "DeleteRoom", "Rooms", new { id = item.Id }, new { @class = "btn btn-danger" })
        </tr>
}
    </tbody>
</table>
